.advantages-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  border: 1px solid $color-default-white;
  border-radius: 16px;
  padding: 14px 21px 15px;

  @media (min-width: $vp-768) {
    min-width: 273px;
    align-items: start;
  }

  @media (min-width: $vp-1440) {
    min-width: 504px;
    padding: 41px 51px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.advantages-card__title {
  width: 208px;
  margin: 0 auto;
  padding: 0 0 14px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  text-align: start;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    width: 174px;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $vp-1440) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    padding: 0;
  }
}

.advantages-card__description {
  width: 208px;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-family: $font-manrope-light;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    width: 211px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $vp-1440) {
    padding: 0;
    width: 208px;
  }
}

.advantages-card__svg {
  position: absolute;
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  padding: 12px 10px;
  background-color: $color-blue;
  color: $color-default-white;
  border-radius: 50%;
  top: -25px;
  left: -21px;

  svg {
    display: block;
    margin: 0 auto;
    width: 18px;
    height: 22px;
  }
}
