.advantages {
  width: 290px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $vp-768) {
    width: 678px;
  }

  @media (min-width: $vp-1440) {
    width: 1240px;
  }
}

.advantages.container {
  width: 290px;

  @media (min-width: $vp-768) {
    width: 678px;
  }

  @media (min-width: $vp-1440) {
    width: 1240px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 33px 20px 25px;
  background-color: $color-blue;
  color: $color-default-white;
  border-radius: 20px;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 32px;
    padding: 50px;
  }
}

.advantages__item {
  margin: 10px auto 12px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}
