.contacts {
  width: 100%;
  background-color: $color-blue;
  color: $color-default-white;
  padding: 76px 0 70px;

  @media (min-width: $vp-768) {
    padding: 100px 0;
  }

  @media (min-width: $vp-1440) {
    padding: 120px 0;
  }
}


.contacts__wrapper.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $vp-768) {
    width: 768px;
  }

  @media (min-width: $vp-1440) {
    width: 1240px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}

.contacts__title {
  width: 290px;
  margin: 0 auto;
  padding: 0 0 35px;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    width: 678px;
    padding: 0 0 30px;
  }

  @media (min-width: $vp-1440) {
    width: 604px;
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);

  @media (min-width: $vp-768) {
    width: 678px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $vp-1440) {
    width: 604px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0 0 0 auto;
    padding: 0 0 40px;
    gap: 52px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }
}
