.contacts-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  gap: 14px;
  width: 290px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $vp-768) {
    width: max-content;
    gap: 24px;
  }

  @media (min-width: $vp-1440) {
    gap: 24px;
  }
}

.contacts-card__title {
  width: max-content;
  margin: 0;
  padding: 0;
  font-family: $font-manrope;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  text-transform: uppercase;

  @media (min-width: $vp-1440) {
    max-width: 263px;
  }
}

.contacts-card__description {
  display: block;
  width: 230px;
  margin: 0;
  padding: 0;
  font-family: $font-manrope;
  font-size: 14px;
  line-height: 20px;


  @media (min-width: $vp-768) {
    width: max-content;
    font-size: 16px;
  }

  @media (min-width: $vp-1440) {
    max-width: 263px;
    line-height: 26px;
  }
}

.contacts-card__tel,
.contacts-card__email {
  display: block;
  width: max-content;
  margin: 0;
  padding: 0;
  font-family: $font-manrope;
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;
  border-bottom: 1px solid transparent;
  outline: none;

  &:hover {
    color: $color-default-white;
    opacity: 0.7;
    border-bottom: 1px solid transparent;
    outline: none;
  }

  &:focus,
  &:focus-visible {
    opacity: 1;
    color: $color-main;
    border-bottom: 1px solid $color-main;
    outline: none;
  }

  &:active {
    opacity: 1;
    color: $color-default-white;
    border-bottom: 1px solid $color-default-white;
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    color: $color-disabled;
    border-bottom: 1px solid transparent;
    outline: none;
  }

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}
