.faq__item {
  padding: 0;
  margin: 0;
}

.faq__element-wrapper {
  padding: 22px 21px 20px 15px;
  margin: 0 auto;
  width: 290px;
  background-color: $color-default-white;
  color: $color-blue;
  border: 2px solid $color-blue;
  border-radius: 13px;

  @media (min-width: $vp-768) {
    width: 678px;
    padding: 32px;
  }

  @media (min-width: $vp-1440) {
    width: 1028px;
    padding: 42px;
  }
}

.faq__element-title {
  display: block;
  width: 184px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $vp-768) {
    width: 456px;
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: $vp-1440) {
    width: 894px;
    font-size: 28px;
    line-height: 34px;
  }
}

.faq__element-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 256px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $vp-768) {
    width: 614px;
  }

  @media (min-width: $vp-1440) {
    width: 944px;
  }
}

.faq__element-button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: -2px 0 0 0;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    top: 18px;
    left: 11px;
    background-color: $color-default-white;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    top: 18px;
    left: 11px;
    background-color: $color-default-white;
    transform: rotate(90deg);
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: transparent;
    outline: none;
    border: 1px solid $color-blue;

    &::before {
      background-color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
    }
  }

  &:active {
    background-color: $color-active;
    outline: none;
    border: 1px solid transparent;

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      background-color: $color-default-white;
    }
  }

  &:disabled {
    background-color: $color-disabled;
    outline: none;
    border: 1px solid transparent;

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      background-color: $color-default-white;
    }
  }
}

.faq__element-description {
  padding: 20px 0 0;

  p {
    display: block;
    width: 256px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  @media (min-width: $vp-768) {
    p {
      width: 614px;
    }
  }

  @media (min-width: $vp-1440) {
    p {
      width: 944px;
    }
  }
}

.faq__item.is-active {
  .faq__element-wrapper {
    padding: 22px 21px 20px 15px;
    margin: 0 auto;
    width: 290px;
    background-color: $color-blue;
    color: $color-default-white;
    border: 2px solid $color-blue;
    border-radius: 13px;

    .faq__element-container > .faq__element-button {
      background-color: $color-default-white;
      color: $color-blue;

      &::before {
        background-color: $color-blue;
      }

      &::after {
        background-color: transparent;
      }

      &:hover,
      &:focus,
      &:focus-visible {
        background-color: transparent;
        outline: none;
        border: 1px solid $color-default-white;

        &::before {
          background-color: $color-default-white;
        }
      }

      &:active {
        background-color: $color-default-white;
        outline: none;
        border: 1px solid transparent;

        &::before {
          background-color: $color-blue;
        }
      }

      &:disabled {
        background-color: $color-disabled;
        outline: none;
        border: 1px solid transparent;

        &::before {
          background-color: $color-default-white;
        }
      }
    }
  }

  @media (min-width: $vp-768) {
    .faq__element-wrapper {
      width: 678px;
      padding: 32px;
    }
  }

  @media (min-width: $vp-1440) {
    .faq__element-wrapper {
      width: 1028px;
      padding: 42px;
    }
  }
}

.faq__item:nth-of-type(4n) .faq__element-wrapper{
  padding: 20px 21px 20px 15px;

  .accordion__button-wrapper .faq__element-button {
    margin: 7px 0 0 0;
  }
}

.faq__item:last-of-type .faq__element-wrapper{
  padding: 20px 21px 20px 15px;

  .accordion__button-wrapper .faq__element-button {
    margin: 16px 0 0 0;
  }
}
