.feedback {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.feedback__wrapper {
  width: 320px;
  position: relative;

  picture {
    display: block;
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $vp-768) {
    width: 768px;

    picture {
      width: 652px;
    }
  }

  @media (min-width: $vp-1440) {
    width: 1240px;

    picture {
      width: 1240px;
    }
  }
}

.feedback__form-wrapper {
  width: 300px;
  position: absolute;
  content: "";
  z-index: 2;
  top: 43px;
  left: 10px;
  background-color: $color-blue;
  color: $color-default-white;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  padding: 15px 15px 27px 15px;
  margin: 0;

  @media (min-width: $vp-768) {
    width: 442px;
    bottom: 0;
    left: 58px;
    padding: 30px 40px 36px;
  }

  @media (min-width: $vp-1440) {
    width: 490px;
    bottom: 0;
    left: 0;
    padding: 30px 70px 40px;
  }
}

.feedback__title {
  display: block;
  margin: 0;
  padding: 0 0 10px;
  width: max-content;
  font-family: $font-manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    font-size: 28px;
    line-height: 28px;
    padding: 0 0 31px;
  }

  @media (min-width: $vp-1440) {
    font-size: 32px;
    line-height: 36px;
    padding: 0 0 34px;
  }
}

.feedback__description {
  display: block;
  margin: 0;
  padding: 0 0 20px;
  width: 270px;
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    width: 346px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 40px;
  }

  @media (min-width: $vp-1440) {
    width: 350px;
    font-size: 16px;
    line-height: 26px;
  }
}
