.footer {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 32px 0;
}

.footer__container {
  width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $vp-768) {
    width: 768px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: $vp-1440) {
    width: 1240px;
  }
}

.footer__logo {
  position: relative;
  display: block;
  width: 52px;
  height: 52px;
  margin: 0 auto;
  padding: 0;
  background-color: $color-default-white;
  border-radius: 50%;

  picture {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    top: 21%;
    left: 21%;
  }

  @media (min-width: $vp-768) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 52px 0 0;
  }
}

.footer__list {
  width: 290px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @media (min-width: $vp-768) {
    width: max-content;
  }

  @media (min-width: $vp-1440) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.footer__container > .nav-list + .nav-list {
  padding: 0 0 21px 0;
}

.footer__copyright {
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 10px 0 0;
  text-align: center;
  color: $color-disabled;
  font-size: 12px;
  line-height: 14px;

  @media (min-width: $vp-768) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: 0;
  }

  @media (min-width: $vp-1440) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 0;
  }
}

.footer__confidential {
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 0 0 1px 0;
  text-align: center;
  color: $color-main;
  font-size: 12px;
  line-height: 14px;
  border-bottom: 1px solid $color-main;

  &:hover {
    color: $color-blue;
    opacity: 0.7;
    border-bottom: 1px solid $color-blue;
    outline: none;
  }

  &:focus,
  &:focus-visible {
    color: $color-blue;
    opacity: 1;
    border-bottom: 1px solid $color-blue;
    outline: none;
  }

  &:active {
    color: $color-active;
    opacity: 1;
    border-bottom: 1px solid $color-active;
    outline: none;
  }

  &:disabled {
    color: $color-disabled;
    opacity: 1;
    border-bottom: 1px solid $color-disabled;
    outline: none;
  }

  @media (min-width: $vp-768) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
  }

  @media (min-width: $vp-1440) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0 0 0 auto;
  }
}
