.form {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 20px;

  @media (min-width: $vp-768) {
    width: 362px;
  }
}

.form__group {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 12px;
  border: none;
  outline: none;

  input,
  textarea {
    position: relative;
    display: block;
    width: 270px;
    padding: 16px 25px 14px 25px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    color: $color-default-white;
    background-color: transparent;

    &::before {
      display: none;
      position: absolute;
      background-color: $color-default-white;
      content: "";
      opacity: 0.3;
      width: 2px;
      height: 18px;
      top: 50%;
      left: 0;
    }

    &:hover {
      border: 1px solid $color-default-white;
      outline: none;

      &::before {
        display: none;
      }
    }

    &:focus,
    &:focus-visible,
    &:active {
      border: 1px solid $color-default-white;
      outline: none;

      &::before {
        position: absolute;
        display: block;
        background-color: $color-default-white;
        content: "";
        opacity: 0.3;
        width: 2px;
        height: 18px;
        top: 50%;
        left: 0;
      }
    }

    &:disabled {
      border: 1px solid rgba(255, 255, 255, 0.7);
      background-color: rgba(169, 175, 183, 0.3);

      &::before {
        display: none;
      }
    }
  }

  .form__phone + input:not([class]) {
    padding: 15px 25px 14px 25px;
    &:hover {
      padding: 15px 25px 14px 25px;
    }
    &:focus,
    &:focus-visible,
    &:active {
      padding: 15px 25px 14px 25px;
    }
  }

  .form__message + textarea:not([class]) {
    padding: 10px 25px 9px 25px;
    &:hover {
      padding: 10px 25px 9px 25px;
    }
    &:focus,
    &:focus-visible,
    &:active {
      padding: 10px 25px 9px 25px;
    }
  }

  @media (min-width: $vp-768) {
    width: 362px;

    input,
    textarea {
      width: 362px;
    }

    .form__message + textarea:not([class]) {
      padding: 7px 25px 6px 25px;
        &:hover {
          padding: 7px 25px 6px 25px;
        }
        &:focus,
        &:focus-visible,
        &:active {
          padding: 7px 25px 6px 25px;
      }
    }
  }

  @media (min-width: $vp-1440) {
    width: 350px;

    input,
    textarea {
      width: 350px;
    }

    .form__message + textarea:not([class]) {
      padding: 7px 25px 8px 25px;
        &:hover {
          padding: 7px 25px 8px 25px;
        }
        &:focus,
        &:focus-visible,
        &:active {
          padding: 7px 25px 8px 25px;
      }
    }
  }
}

.form__group:nth-of-type(3n + 1) > .form__select-title {
  @media (min-width: $vp-1440) {
    margin: -2px 0 -2px 0;
  }
}

.form__group.is-invalid {
  position: relative;

  input,
  textarea {
    border: 1px solid $color-error;
    background-color: rgba(255, 94, 102, 0.3);
  }

  .input-message {
    position: absolute;
    display: block;
    width: 270px;
    border: 1px solid $color-error;
    background-color: rgba(255, 94, 102, 0.3);
    color: $color-default-white;
    top: -10px;
    left: 0;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

.form__group.is-valid {
  position: relative;

  .input-message {
    position: absolute;
    display: block;
    width: 270px;
    border: 1px solid $color-default-white;
    background-color: rgba(255, 255, 255, 0.3);
    color: $color-default-white;
    top: -10px;
    left: 0;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

.form-label {
  display: block;
  width: max-content;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $vp-1440) {
    line-height: 18px;
  }
}

.form-select {
  position: relative;
  display: block;
  width: 260px;
  padding: 16px 25px 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  color: $color-default-white;
  background-color: transparent;
  appearance: none;

  &::before {
    content: "▼";
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    background-image: urlurl('data:image/svg+xml;utf8,<svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 1L11 10L1 1" stroke="currentColor"/></svg>');

    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
    background-color: violet;
    background-size: contain;
    }

  &:hover {
    border: 1px solid $color-default-white;
    outline: none;
  }

  &:focus,
  &:focus-visible,
  &:active {
    border: 1px solid $color-default-white;
    outline: none;

    svg {
      transform: rotate(180deg);
    }
  }

  &:disabled {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(169, 175, 183, 0.3);
    outline: none;
  }

  @media (min-width: $vp-768) {
    width: 362px;
  }

  @media (min-width: $vp-1440) {
    width: 350px;
  }
}

.form__select-wrapper {
  position: relative;
  z-index: 1;
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.form-select__text {
  display: block;
  width: max-content;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  color: $color-main;

  &:hover {
    background-color: $color-default-white;
    color: $color-blue;
    border: none;
    outline: none;
  }

  &:focus,
  &:focus-visible,
  &:active {
    background-color: $color-blue;
    color: $color-default-white;
    border: none;
    outline: none;
  }

  &:disabled {
    background-color: $color-default-white;
    color: $color-disabled;
    border: none;
    outline: none;
  }
}

.form__button {
  width: 261px;
  margin: -1px 0 0 0;
  border: 1px solid $color-default-white;

  @media (min-width: $vp-768) {
    width: 353px;
    margin: 6px 0 0 0;
  }

  @media (min-width: $vp-1440) {
    width: 351px;
  }
}

.form__button-description {
  display: block;
  margin: 0 auto;
  padding: 0;
  color: $color-default-white;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 14px;
    line-height: 14px;
  }
}

.form__arrow {
  background-color: $color-default-white;
  color: $color-blue;
}

.form__group-checkbox {
  margin: -2px 0 0 2px;

  @media (min-width: $vp-768) {
    margin: 0 0 0 0;
  }
}
