.map {
  position: relative;
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 30px 0 0;

  picture {
    display: block;
    width: 290px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $vp-768) {
    width: 678px;

    picture {
      width: 678px;
    }
  }

  @media (min-width: $vp-1440) {
    width: 1240px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 40px 0 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.3);
      z-index: 2;
    }

    picture {
      width: 1240px;
    }
  }
}

.contacts__map-icon {
  position: absolute;
  content: "";
  display: block;
  top: 28%;
  left: 47.5%;
  width: 18px;
  height: 21px;

  svg {
    display: block;
    width:29px;
    height: 24px;
  }

  @media (min-width: $vp-768) {
    top: 26%;
    left: 52%;
    width: 30px;
    height: 34px;

    svg {
      width: 30px;
      height: 34px;
    }
  }

  @media (min-width: $vp-1440) {
    top: 26%;
    left: 52%;
    width: 70px;
    height: 69px;

    svg {
      width: 70px;
      height: 69px;
    }
  }
}
