.news {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  background-color: $color-default-white;

  @media (min-width: $vp-1440) {
    padding: 60px 0;
  }
}

.news__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 768px;
  }

  @media (min-width: $vp-1440) {
    width: 1440px;
  }
}

.news__title {
  width: 290px;
  margin: 0 auto;
  padding: 0 0 19px;
  text-align: center;

  @media (min-width: $vp-768) {
    width: 768px;
    padding: 0 0 30px;
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $vp-1440) {
    width: 1440px;
    padding: 0 0 40px;
  }
}

.news__list.swiper-wrapper {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  gap: 8px;
  padding: 0 0 24px 15px;

  @media (min-width: $vp-768) {
    width: 678px;
    padding: 0 0 30px;
    margin: 0 auto;
    gap: 0;
  }

  @media (min-width: $vp-1440) {
    width: 720px;
    justify-content: center;
    padding: 0 0 40px;
    gap: 0;
  }
}

.news__item.swiper-slide {
  width: max-content;
  margin-right: 0;

  .news__button {
    width: max-content;
    padding: 10px 14px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    border: 2px solid transparent;
    outline: none;
    opacity: 0.7;

    @media (min-width: $vp-768) {
      padding: 16px 22px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.news__item.swiper-slide.swiper-slide-active {
  width: max-content;
  margin-right: 0;

  .news__button {
    width: max-content;
    padding: 10px 14px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    border: 2px solid $color-blue;
    outline: none;
    opacity: 1;

    @media (min-width: $vp-768) {
      padding: 16px 22px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.news__wrapper-menu.swiper {
  padding: 5px 0 0;
}

.news__slider-wrapper {
  margin: 0 auto 12px;
  width: 290px;
}

