.programs {
  width: 320px;
  margin: 0 auto;
  padding: 16px 0 50px;

  @media (min-width: $vp-768) {
    width: 768px;
  }

  @media (min-width: $vp-1440) {
    width: 1440px;
    padding: 60px 0;
  }
}

.programs__wrapper-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: max-content;
  background-color: transparent;
  color: $color-blue;
  gap: 8px;
}

.programs__wrapper-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 34px;
  background-color: transparent;

  @media (min-width: $vp-768) {
    width: 678px;
  }

  @media (min-width: $vp-1440) {
    width: 1240px;
    padding: 0 0 40px;
  }
}

.programs-button-title {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
  }
}

.programs-button-slider {
  display: flex;
  padding: 0 0 0 15px;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.programs-arrow-button-title {
  display: flex;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.programs-arrow-button-slider {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
  }
}

.programs__button-next {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;

  svg {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 6px;
    left: 6px;
  }

  &:hover {
    border: none;
    outline: none;

    svg {
      opacity: 0.7;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: $color-default-white;
    color: $color-blue;
    border: none;
    outline: none;

    svg {
      opacity: 1;
    }
  }

  &:active {
    background-color: $color-default-white;
    color: $color-blue;
    border: none;
    outline: none;

    svg {
      opacity: 0.7;
    }
  }

  &:disabled {
    background-color: transparent;
    color: $color-disabled;
    border: none;
    outline: none;

    svg {
      opacity: 1;
    }
  }
}

.programs__button-prev {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;

  svg {
    position: absolute;
    content: "";
    transform: rotate(180deg);
    width: 10px;
    height: 10px;
    top: 6px;
    left: 6px;
  }

  &:hover {
    border: none;
    outline: none;

    svg {
      opacity: 0.7;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: $color-default-white;
    color: $color-blue;
    border: none;
    outline: none;

    svg {
      opacity: 1;
    }
  }

  &:active {
    background-color: $color-default-white;
    color: $color-blue;
    border: none;
    outline: none;

    svg {
      opacity: 0.7;
    }
  }

  &:disabled {
    background-color: transparent;
    color: $color-disabled;
    border: none;
    outline: none;

    svg {
      opacity: 1;
    }
  }
}

.programs__list.swiper-wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 0 30px;

  @media (min-width: $vp-768) {
    width: 723px;
    margin: 0 0 0 45px;
    padding: 0 0 40px;
  }

  @media (min-width: $vp-1440) {
    width: 1240px;
    margin: 0 auto;
  }
}

.programs__wrapper-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 678px;
  margin: 0 0 0 45px;

  @media (min-width: $vp-1440) {
    width: 1240px;
    margin: 0 auto;
  }
}

.programs-pagination {
  display: none;


  .swiper-pagination-bullet {
    display: block;
    background-color: $color-blue;
    border: none;
    width: 187px;
    height: 2px;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-inline-start: 0;
    width: 561px;
    height: 2px;
  }

  @media (min-width: $vp-1440) {
    background-color: rgba(49, 109, 194, 0.5);
  }
}

.programs__button-description {
  padding: 16px 27px 14px 31px;
}
