.reviews-table {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 25px;
  width: max-content;

  @media (min-width: $vp-768) {
    // margin: auto 0 auto auto;
    margin:  0 0 0;
    padding: 37px 0 0 65px;
  }
}

.reviews-table__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
  width: max-content;
  margin: 0 0 0 0;
  padding: 0;
  gap: 25px;

  @media (min-width: $vp-768) {
    gap: 25px;
  }
}

.reviews-table__name {
  width: 108px;
  display: block;
  margin: 0;
  padding: 0 0 8px;
  font-size: 12px;
  line-height: 12px;
  color: $color-blue;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 0 0 11px;
    width: 126px;
  }
}

.reviews-table__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
  width: max-content;
  margin: 0 auto;
  padding: 0;
  gap: 25px;
}

.reviews-table__text {
  width: 108px;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  color: $color-main;

  @media (min-width: $vp-768) {
    width: 126px;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $vp-1440) {
    line-height: 18px;
  }
}
