.hero-pagination::before {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    top: 18px;
    left: 80px;
    width: 10px;
    height: 10px;
    rotate: -90deg;
    border-top-left-radius: 103%;
    box-shadow: offset-x offset-y blur spread color position;
    -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
    box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
}

.hero-card__title::before {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    top: 168px;
    left: 267px;
    width: 10px;
    height: 10px;
    border-top-left-radius: 103%;
    box-shadow: offset-x offset-y blur spread color position;
    -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
    box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
}

.hero-card__text::before {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    top: 115px;
    left: 184px;
    width: 10px;
    height: 10px;
    border-top-left-radius: 103%;
    box-shadow: offset-x offset-y blur spread color position;
    -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
    box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
}

.internship-hero-card {
  .hero-pagination::before {
    top: 18px;
    left: 80px;
  }

  .hero-card__title::before {
    top: 143px;
    left: 267px;
  }

  .hero-card__text::before {
    top: 95px;
    left: 184px;
  }
}

.volunteer-hero-card {
  .hero-pagination::before {
    top: 18px;
    left: 80px;
  }

  .hero-card__title::before {
    top: 142px;
    left: 267px;
  }

  .hero-card__text::before {
    top: 115px;
    left: 184px;
  }
}


.internship-programs-card {
  .programs-card__title::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 21px;
      left: 144px;
      width: 20px;
      height: 20px;
      rotate: -84deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }
}

.volunteer-programs-card {
  .programs-card__title::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 33px;
      left: 162px;
      width: 10px;
      height: 10px;
      rotate: -90deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }
}

.studies-programs-card {
  .programs-card__title::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 33px;
      left: 98px;
      width: 10px;
      height: 10px;
      rotate: -90deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }
}

.news-interview-slide {
  .news-card__date::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 10px;
      left: 78px;
      width: 23px;
      height: 23px;
      rotate: -98deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }

  .news-card__date::after {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: -20px;
      left: 0px;
      width: 23px;
      height: 23px;
      rotate: -98deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }

  .news-card__title::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 28px;
      left: 198px;
      width: 23px;
      height: 23px;
      rotate: -90deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }

  .news-card__button-wrapper::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 42px;
      left: 260px;
      width: 23px;
      height: 23px;
      rotate: -90deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }
}

.news-trevel-slide {
  .news-card__date::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 10px;
      left: 78px;
      width: 23px;
      height: 23px;
      rotate: -98deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }

  .news-card__date::after {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: -20px;
      left: 0px;
      width: 23px;
      height: 23px;
      rotate: -98deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }

  .news-card__title::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 12px;
      left: 199px;
      width: 23px;
      height: 23px;
      rotate: -97deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }

  .news-card__button-wrapper::before {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      top: 30px;
      left: 260px;
      width: 23px;
      height: 23px;
      rotate: -90deg;
      border-top-left-radius: 103%;
      box-shadow: offset-x offset-y blur spread color position;
      -webkit-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: -4px -6px 0px 3px rgba(255, 255, 255, 1);
  }
}
