// Vendor
@import "vendor/normalize";
@import "vendor/data-accordion";
@import "vendor/custom-select";

// Global
@import "global/fonts/fonts";
@import "mixins";
@import "variables";
@import "global/utils";
@import "global/reboot";
@import "global/container";

// Blocks
@import "blocks/accordion";
@import "blocks/buttons";
@import "blocks/link";
@import "blocks/title";
@import "blocks/main-header";
@import "blocks/main-nav";
@import "blocks/main-menu";
@import "blocks/close-menu";
@import "blocks/hero";
@import "blocks/hero-card";
@import "blocks/about";
@import "blocks/advantages";
@import "blocks/advantages-card";
@import "blocks/programs";
@import "blocks/programs-card";
@import "blocks/grant";
@import "blocks/grant-list";
@import "blocks/news";
@import "blocks/news-slider";
@import "blocks/news-card";
@import "blocks/faq";
@import "blocks/faq-accordion";
@import "blocks/reviews";
@import "blocks/reviews-card";
@import "blocks/reviews-table";
@import "blocks/contacts";
@import "blocks/contacts-card";
@import "blocks/map";
@import "blocks/feedback";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/footer-nav-list";
@import "blocks/footer-social-list";
@import "blocks/modal";
@import "blocks/checkbox";
@import "blocks/shadow-radius";
